<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Data</h1>

<div class="row py-3" id="metrics">
  <dt class="col-4 col-md-3 text-end">Last record</dt>
  <dd class="col-8 col-md-9">
    <code class="me-2" id="metrics-last-timestamp"></code>
    <span class="badge text-bg-primary" id="metrics-last-button"></span> 
  </dd>
  <dt class="col-4 col-md-3 text-end">Total records</dt>
  <dd class="col-8 col-md-9" id="metrics-total"></dd>
</div>
<div class="row py-3"><div id="highcharts-date" class="col"></div></div>
<div class="row py-3"><div id="highcharts-weekday" class="col"></div></div>
<div class="row py-3"><div id="highcharts-hour" class="col"></div></div>
