<div class="d-flex flex-column min-vh-100" id="home">

  <div class="text-center mb-auto mt-auto">
    <h1 class="display-5 py-3 fw-bold">Pi3Ctrl</h1>
    <div class="col-lg-8 col-xl-6 mx-auto mb-md-0 lead">
      Python 3 based event player for Raspberry Pi with GPIO control.
    </div>
    {#<img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid my-3">#}
  </div>
  <div class="row justify-content-center text-center p-2 mt-auto">
    <div class="col-3 col-lg-2 p-md-3" onclick="window.open('http://www.steps4it.be','_blank');">
      <img src="{{ url_for('static', filename='img/steps4it.png') }}" class="img-fluid" style="max-height:32px;">
    </div>
  </div>

</div>
