<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Status Monitoring</h1>

<h2> Storage </h2>

<div id="highcharts-storage"></div>

<h2> Pi3Ctrl Services </h2>

<p>Monitoring of the Pi3Ctrl <code>v{{version}}</code> related services, updated automatically every 10 seconds.</p>
<div class="progress mb-3 mb-lg-4" style="height: 2px;">
  <div class="progress-bar" role="progressbar" id="statusUpdater" style="width:0%; transition:width .2s ease;"
   aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="accordion accordion-flush" id="multi-ear-status">
  {% for service in services %}
  {% set id = (service|replace('.', '-')) %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}-response"
       aria-expanded="false" aria-controls="{{id}}-response">
        <div class"row row-cols-2">
          <div class="col d-flex"><div class="py-1" id="{{id}}-name">{{service}}</div></div>
          <div class="col d-flex">
            <div class="badge badge-status bg-secondary py-1" id="{{id}}-status">...</div>
          </div>
        </div>
      </button>
    </h2>
    <div id="{{id}}-response" class="accordion-collapse collapse" aria-labelledby="{{id}}-response" data-bs-parent="#status">
      <div class="accordion-body"></div>
    </div>
  </div>
  {% endfor %}
</div>
