[Unit]
Description=Pi3Ctrl http agent
After=network.target
 
[Service]
Type=simple
User=pieter
Group=www-data
WorkingDirectory=/opt/py3
ExecStart=/usr/bin/bash -c 'cd /opt/py3; source bin/activate; uwsgi --ini share/pi3ctrl/uwsgi.ini'
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-http
Restart=always
RestartSec=30
 
[Install]
WantedBy=multi-user.target
