[Unit]
Description=Pi3Ctrl wifi autohotspot agent
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/pi3
ExecStart=/usr/bin/sudo /opt/py3/bin/autohotspot
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-wifi

[Install]
WantedBy=multi-user.target
