[Unit]
Description=Pi3Ctrl http agent
Wants=network-online.target
After=network.target network-online.target
 
[Service]
Type=simple
#User=root
#Group=root
WorkingDirectory=/opt/smh/
Environment="VIRTUAL_ENV=/opt/smh/py3"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
#EnvironmentFile=/opt/smh/.pi3ctrl.env
ExecStart=
ExecStart=/usr/bin/sudo /usr/bin/nice -n -10 $VIRTUAL_ENV/bin/uwsgi --ini $VIRTUAL_ENV/share/pi3ctrl/uwsgi.ini
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-http
Restart=always
RestartSec=30
 
[Install]
WantedBy=multi-user.target
