[Unit]
Description=Pi3Ctrl core agent
After=multi-user.target
 
[Service]
Type=simple
User=root
Group=www-data
WorkingDirectory=/opt/py3
ExecStart=/usr/bin/bash -c 'cd /opt/py3; source bin/activate; pi3ctrl-core'
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-core
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
