[Unit]
Description=Pi3Ctrl wifi autohotspot agent
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/pi3ctrl/
Environment="VIRTUAL_ENV=/opt/py3"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=
ExecStart=/usr/bin/sudo $VIRTUAL_ENV/bin/autohotspot
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-wifi

[Install]
WantedBy=multi-user.target
