[Unit]
Description=Pi3Ctrl wifi autohotspot agent
After=multi-user.target

[Service]
Type=simple
#User=root
#Group=root
WorkingDirectory=/opt/smh/
Environment="VIRTUAL_ENV=/opt/smh/py3"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
#EnvironmentFile=/opt/smh/.pi3ctrl.env
ExecStart=
ExecStart=/usr/bin/sudo $VIRTUAL_ENV/bin/bin/autohotspot
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-wifi

[Install]
WantedBy=multi-user.target
