[Unit]
Description=Pi3Ctrl core agent
After=multi-user.target
 
[Service]
Type=simple
#User=root
#Group=root
WorkingDirectory=/opt/smh/
Environment="VIRTUAL_ENV=/opt/smh/py3"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
#EnvironmentFile=/opt/smh/.pi3ctrl.env
ExecStart=
ExecStart=/usr/bin/nice -n 10 $VIRTUAL_ENV/bin/pi3ctrl-core
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pi3ctrl-core
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
