[Unit]
Description=Multi-EAR sensorboard serial readout to a local Influx time series database
After=influxd.service
# After=multi-user.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/home/tud/
Environment="VIRTUAL_ENV=/home/tud/.py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
EnvironmentFile=/home/tud/.multi_ear.env
ExecStart=
ExecStart=/usr/bin/nice -n 10 /home/tud/.py37/bin/multi-ear-uart \
  --ini /home/tud/.py37/multi-ear-services/config.ini \
  --journald
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-uart
Restart=always

[Install]
WantedBy=multi-user.target
