[Unit]
Description=Multi-EAR control, monitoring, documentation and data visualization via a web browser
After=multi-user.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/home/tud/
Environment="VIRTUAL_ENV=/home/tud/.py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
EnvironmentFile=/home/tud/.multi_ear.env
ExecStart=
ExecStart=/usr/bin/sudo /usr/bin/nice -n -10 /home/tud/.py37/bin/uwsgi \
  --ini /home/tud/.py37/multi-ear-services/uwsgi.ini
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-ctrl
Restart=always
 
[Install]
WantedBy=multi-user.target
