[Unit]
Description=Automatically generates a Wi-Fi hotspot when no known SSID is in range
After=multi-user.target

[Service]
Type=oneshot
User=tud
Group=tud
ExecStart=
ExecStart=/usr/bin/sudo /home/tud/.local/bin/autohotspot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pi3ctrl-wlan

[Install]
WantedBy=multi-user.target
